[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

MemoryCaptures/
Recordings/

.vscode/
.idea/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

sysinfo.txt

*.apk
*.aab
*.unitypackage

.DS_Store
Thumbs.db

.utmp/
